html, body{
    background:white;
    margin:0;
    padding:0;
}

header.jumbotron{
    width:100vw;
    min-height:80vh;
    background:#6AF9E6;
    background-image:url(img/hero.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

nav.main-nav{
    width:100vw;
    height:80px;
    background:grey;
}